@Injectable()
export class UsersService {
  constructor(
    @InjectRepository(Users)
    private readonly usersRepository: Repository<Users>,
  ) {}

  async findById(id: string): Promise<Users> {
    return this.usersRepository.findOneBy({ id });
  }
}
